html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;margin:0;padding:0}
body{line-height:1.5;font-family:"Lucida Grande", Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;font-size:80%;color:#222;background:#fff;margin:1em 1.5em}
table{border-collapse:separate;border-spacing:0}
caption,th,td{text-align:left;font-weight:400}
table,td,th{vertical-align:middle}
a img{border:none}
.smallmap{border:1px solid #ccc;background-attachment:fixed;background-image:url("http://bhuvan3.nrsc.gov.in/IndianEO.gif")!important;background-repeat:repeat;}
div.olMap{z-index:0;cursor:default;margin:0!important;padding:0!important}
div.olMapViewport{text-align:left}
.olControlAttribution{font-size:smaller;font-family:sans-serif;font-weight:700;color:red;right:3px;bottom:4.5em;position:absolute;display:block}
div.olControlMousePosition{bottom:0;right:3px;display:block;position:absolute;font-family:Arial;font-size:smaller}
.olControlNavigationHistory{width:24px;height:24px}
.olPopupCloseBox{background:url(img/close.gif) no-repeat;cursor:pointer}
.olImageLoadError {background-color:transparent;opacity:0.0;filter:alpha(opacity=0)}
.olImageLoadError {visibility: hidden} 
.olCursorWait{cursor:wait}
.olDrawBox{cursor:crosshair}
.olControlDragFeatureActive.olControlDragFeatureOver.olDragDown{cursor:0}
div.olControlStatusBar{bottom:0;width:100%;display:block;position:absolute;font-family:Arial;font-size:12px;font-weight:700;color:#FFF;background-image:url(img/statusbar_bg.png);background-repeat:repeat}
div.olControlMouseCoordinates{position:absolute;bottom:0;right:5px}
.olControlScaleBar{bottom:50px;left:25px;font-family:sans-serif;color:#fff}
.olControlScaleBarMarkerMajor{height:7px;width:1px;top:7px;background:#000}
.olControlScaleBarMarkerMinor{height:4px;width:1px;top:10px;background:#000}
.olControlScaleBarNumbersBox{width:40px;height:13px;top:21px;font-size:.7em;color:#000}
.olControlScaleBarLabelBox{top:-2px;height:15px;font-weight:700;letter-spacing:.1em;font-size:.7em;font-variant:small-caps;color:#000}
.olControlScaleBarLabelBoxSingleLine{height:15px;width:55px;top:5px;left:10px;font-size:1em;font-variant:small-caps}
.olControlLoadingPanel{background-image:url(../default/img/BuffAnim.gif);position:absolute;bottom:400px;left:600px;width:195px;height:39px;background-position:center;background-repeat:no-repeat;display:none}
div.olLayerDiv,.olControlNoSelect{-moz-user-select:none}
.olPopupContent,.olFramedCloudPopupContent{overflow:auto;padding:5px}
.olDragDown,.olControlDragFeatureOver{cursor:move}
.olControlScaleBarBar,.olControlScaleBarBarAlt{height:1px;top:14px;background:#000}
